
@{
    ViewData["Title"] = "User";
    Layout = "_Layout";
}

<body>
         
    <div id="myVideo">
        <video  autoplay muted loop id="video" style="width:100%; height:100%">
            <source src="~/css/Assets/FEARS - Motivational Workout Video HD(1).mp4" type="video/mp4">
        </video>
        </div>
        <div class="jumbotron">
            <h1 id="userLogin">User Login</h1>
            
            @using (Html.BeginForm("Login", "User", FormMethod.Post))
            {
                <p id="login">
                    Name: @Html.TextBox("UserName") <br />
                    <input class="submitbtn" type="submit" value="Login" />
                    @ViewBag.Status
                </p>
            }

        </div>
</body>

