
@{
    ViewData["Title"] = "User";
    Layout = "_Layout";

}
<div class="jumbotron">
   <h1 id="userLogin">User Login</h1>
   
   
   @using (Html.BeginForm("Login", "User", FormMethod.Post))
   {
       <p id="login">
           Title: @Html.TextBox("UserName") <br />
           <input type="submit" value="Enter" />
           @ViewBag.Status
       </p>
   }
        


</div>