
@{
    ViewData["Title"] = "User";
    Layout = "_Layout";

}
@*<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>*@
<div class="jumbotron">
   <h1 id="userLogin">User Login</h1>
   
   
   @using (Html.BeginForm("Login", "User", FormMethod.Post))
   {
       <p id="login">
           Title: @Html.TextBox("UserName") <br />
           <input class="submitbtn" type="submit" value="Login" />
           @ViewBag.Status
       </p>
   }
        
</div>