
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
   ;
}
<div class="jumbotron">
    <h1 id="userRegister">Register</h1>


    @using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
    {
        <p id="register">
            Title: @Html.TextBox("UserName") <br />
            <input class="submitbtn" type="submit" value="Submit" />
            @ViewBag.Status
        </p>
    }
</div>