@model TrueCoach.Models.Journal

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}
<head>
    <link href="~/css/CreateJournal.css" rel="stylesheet" />
</head>

<div class="shade">
    <div class="blackboard">
        <div class="form">
            <p>
                <label>My Journal </label>
                <input type="text" />
            </p>
            <p>
                <label> </label>
                <input type="text" />
            </p>
            <p>
                <label> </label>
                <input type="tel" />
            </p>
            <p>
                <label> </label>
                <input type="text" />
            </p>
            <p>
                <label> </label>
                <textarea></textarea>
            </p>
            <p class="wipeout">
                <input type="submit" value="Save" />
            </p>
        </div>
    </div>
</div>



