@model TrueCoach.Models.Journal

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<head>
    <link href="~/css/CreateJournal.css" rel="stylesheet" />
</head>

<div class="shade">
    <div class="blackboard">
        <div class="form">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Entry" class="control-label"></label>
                            <textarea class="form-control" rows="8" id="comment"></textarea>/>
                            <span asp-="Entry" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add New Journal Entry" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>