@model IEnumerable<TrueCoach.Models.Regeneration>

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}


<form asp-controller="Regeneration" asp-action="Index"></form>
<p>
    <a asp-action="Create">Enter Regeneration </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegenerationSteps)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>