@model List<Meal>
@{
    ViewData["Title"] = "Nutrition Details";
    Layout = "_Layout";
    var workoutId = this.ViewContext.RouteData.Values["id"];
}

<img id="kettleBell2" alt="kettle-bell" src="~/css/Assets/kettlebell.png">
<div class="jumbotron">

    

<h1 id="userLogin">Nutrition Details</h1>

@if (Model != null && Model.Any())
{
    <h2 id="focus">Here are your nutrition details!</h2>
    foreach (var item in Model)
    {
        <h2 id="focus">@item.Name</h2>
        <p id="workout-select">@item.Description</p>


    }
}
else
{
    <h2>Let's view your Meal plan details!</h2>

}


</div>
