@model TrueCoach.Models.Nutrition

@{
    ViewData["Title"] = "Nutrition Page";
    Layout = "_Layout";
}

@using (Html.BeginForm("ViewMealPlan", "Nutrition", FormMethod.Post))
{
    <h2>Select Your Main Nutrition Focus:</h2>
    <p>
        <select asp-for="NutritionGoals" class="form-control" asp-items="@Html.GetEnumSelectList<TrueCoach.Models.FoodGoal>()"></select>
        <input type="submit" value="Enter" />
    </p>

}