@model List<Workout>
@{
    ViewData["Title"] = "Display Workouts";
}
<div class="jumbotron">
    <div>
        <h2 class="text-center ">Choose Workout Type:</h2>
        @foreach (var item in Model)
        {
            <div class="text-center text-uppercase workout-types">
                <a asp-action="Details" asp-route-workoutid="@item.ID">@item.WorkoutType.Name</a>
            </div>
        }
    </div>
</div>