@model List<Workout>
@{
    ViewData["Title"] = "Display Workouts";
}

<div class="workoutResults">
    @if (Model != null && Model.Any())
    {
        <h2>List of Workouts:</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.WorkoutType.ID - @item.WorkoutType.Name</li>
            }
        </ul>
    }
    else
    {
        <h2>No workouts in list.</h2>
    }
</div>