@model List<Workout>
@{
    ViewData["Title"] = "Display Workouts";
}

<div>
    @foreach (var item in Model)
    {
        <ul>
            <li>
                @Html.DisplayFor(modelItem => item.WorkoutType.Name)
              
            </li>

            <li>
                <a asp-action="Details" asp-route-workoutid="@item.ID">Details</a> 
            </li>
        </ul>
    }
</div>