/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/*navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background: transparent;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*header {
    position: fixed;
}*/
body {
    height: 100%;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg) center center fixed;
    background-size: cover;
}

.shade {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient( 150deg, rgba(0, 0, 0, 0.65), transparent);
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*---------------------------user login-----------------*/
#userLogin {
    text-align: center;
    margin-bottom: -1vw;
    font-family: 'Baloo Paaji', cursive;
    font-size: 3vw;
}

#login {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Baloo Paaji', cursive;
}

.jumbotron {
    position: relative;
    left: 11.5vw;
    top: 5vw;
    opacity: .9;
    background-color: #b4b1b1;
    border: .3vw solid #fcf606;
    border-radius: 1vw 1vw;
    width: 42vw;
    box-shadow: 1vw 1vw #474545;
}

#userRegister {
    text-align: center;
    margin-bottom: 2vw;
    /*font-family: 'Lalezar', cursive;*/
    font-family: 'Baloo Paaji', cursive;
    /*font-family: 'Black Han Sans', sans-serif;*/
    /*font-family: 'Paytone One', sans-serif;*/
    /*font-family: 'Emblema One', cursive;*/
}

/*----------------------user register-----------------*/

#register {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Baloo Paaji', cursive;
}

.submitbtn {
    margin-top: 1vw;
    font-family: 'Baloo Paaji', cursive;
    font-size: 1.5vw;
}


/*button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 100%;
    /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg) center center fixed;*/
    background-image: url(Assets/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: linear-gradient( 175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);*/
}

/*---------------carousel links--------------------------------*/
#carouselExampleSlidesOnly {
    position: relative;
    left: 18.5vw;
    border-radius: 1vw 1vw;
    margin-right: 6vw;
}

.w-50 {
    border-radius: 2vw;
}

/*-----------------avatar links----------------------------------*/

#nutrition-link {
    padding-top: 1vw;
}

/*-----------------excersise page----------------------------------*/

#workout-select {
    width: 20vw;
    text-align: center;
    position: relative;
    left: 13vw;
}

#focus {
    text-align: center;
    font-family: 'Baloo Paaji', cursive;
}

/*---------------------footer links---------------------------------*/
footer {
    background-color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

#myVideo {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

/*---------------------legend---------------------------------*/
#profile {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}


#editorlabel {
    display: block;
    width: 100%;
    max-width: 18%;
    text-align: center;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    position: relative;
    top: -10vw;
    left: -10vw;
    margin-left: 30%;
    margin-right: 50%;
}


#editorInfolabel2 {
    display: block;
    width: 100%;
    max-width: 2vw;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    position: relative;
    top: -4vw;
    left: -4vw;
    margin-left: 10vw;
    margin-right: 1vw;
}



#editorInfolabel1 {
    display: block;
    width: 100%;
    max-width: 4vw;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    position: relative;
    top: 5vw;
    left: 4vw;
    margin-left: 13vw;
    margin-right: 2vw;
}



#filename {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5vw;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}


#regen {
    position: relative;
    left: 11.5vw;
    top: 10vw;
    opacity: .9;
    background-color: #b4b1b1;
    border: .3vw solid #fcf606;
    border-radius: 1vw 1vw;
    width: 50vw;
    box-shadow: 1vw 1vw #474545;
}

#kettleBelt {
    display: block;
    margin-left: 15vw;
    position: relative;
    top: -3vw;
    height: 7vw;
    width: 7vw;
}

#workout-link1 {
    padding-top: 1vw;
    color: black;
}

#profilelink1 {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 5vw;
}

#profilelink2 {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: underline;
}

#linkstogether {
    text-align: center;
    position: relative;
    top: -3vw;
}


#profilepage {
    height: 37vw;
    position: absolute;
    top: 8vw;
    left: 28vw;
}

#profilepicture1 {
    height: 10vw;
    width: 10vw;
    position: relative;
}

#profilepicture2 {
    font-size: 1.2vw;
}

#profilepicture3 {
    font-size: 1.2vw;
}

#kettlebelt2 {
    position: relative
}

p {
    text-align: center;
}

.workout-types {
    padding: 5px;
    font-size: 20px;
}

.workout-types a {
    color: black;
    text-decoration: none;
}

.workout-types a:hover {
    color: #474545;
    text-decoration: none;
}
