/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/*navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background: transparent;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {

  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*---------------------------user login-----------------*/
#userLogin {
    text-align: center;
    margin-bottom: 2vw;
    font-family: 'Baloo Paaji', cursive;
}
#login {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Baloo Paaji', cursive;
}

.jumbotron {
    position: relative;
    left: 11.5vw;
    top: 10vw;
    opacity: .9;
    background-color: aqua;
    border: .3vw solid rgb(245, 247, 227);
    border-radius: 1vw 1vw;
    width: 50vw;
    box-shadow: 1vw 1vw grey;
}
#userRegister {
    text-align: center;
    margin-bottom: 2vw;
    /*font-family: 'Lalezar', cursive;*/
    font-family: 'Baloo Paaji', cursive;
    /*font-family: 'Black Han Sans', sans-serif;*/
    /*font-family: 'Paytone One', sans-serif;*/
    /*font-family: 'Emblema One', cursive;*/
}

/*----------------------user register-----------------*/

#register {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Baloo Paaji', cursive;
}
.submitbtn {
    margin-top: 1vw;
    font-family: 'Baloo Paaji', cursive;
}


/*button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*background-image: url(Assets/Personal-Training2.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*---------------carousel links--------------------------------*/
#carouselExampleSlidesOnly {
    position: relative;
    left: 18.5vw;
    border-radius: 1vw 1vw;
    margin-right: 6vw;
}

.w-50 {
    border-radius: 2vw;
}

/*-----------------avatar links----------------------------------*/
#workout-link{
    padding-top: 1vw;
}
#nutrition-link {
    padding-top: 1vw;
}

/*---------------------footer links---------------------------------*/
footer {
    background-color: white;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

