@model List<Exercise>
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
    var workoutId = this.ViewContext.RouteData.Values["id"];
}

<div class="text-center">
    <h1>Workout Details</h1>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="py-3">
                <h4>@item.Name</h4>
                @Html.Raw(item.Description)
            </div>
        }
    }
    else
    {
        <h2>Let's view your workout details!</h2>
    }
</div>