@model TrueCoach.Models.Workout

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}




@using (Html.BeginForm("ViewWorkout", "Workout", FormMethod.Post))
{
    <div class="jumbotron">
        <h1 id="userLogin">User Login</h1>

    <h2 id="focus">Select Your Main Movement Focus:</h2>
    <p id="workout-select">
        <select asp-for="WorkoutGoals" class="form-control" asp-items="@Html.GetEnumSelectList<TrueCoach.Models.Goals>()"></select>
        <input class="submitbtn" type="submit" value="Select" />
    </p>
       
    </div>
}