

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

@*<div class="text-center">
        <h1 class="display-4">Welcome @Model. </h1>
        <div class="form-group">
            <form asp-action="ViewWorkout">
                <label asp-for="WorkoutGoals" class="control-label"></label>
                <select asp-for="WorkoutGoals" class="form-control" asp-items="@Html.GetEnumSelectList<TrueCoach.Models.Goals>()"></select>
                <span asp-validation-for="WorkoutGoals" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="ViewWorkout" class="btn btn-primary" />
                </div>
            </form>
        </div>


    </div>*@

@*@using (Html.BeginForm("ViewWorkout", "Workout", FormMethod.Post))
    {
        <h2>Select Your Main Movement Focus:</h2>
        <p>
            <select asp-for="WorkoutGoals" class="form-control" asp-items="@Html.GetEnumSelectList<TrueCoach.Models.Goals>()"></select>
            <input type="submit" value="Enter" />
        </p>
    }*@


<div class="jumbotron" id="profilepage">
    <h1 id="userLogin">Profile</h1>

   <div id="profilelabel">
        <div id="editorInfolabel1">
            <label id="filename" for="profile">Name:</label>
            <label id="filename" for="profile">Height:</label>
            <label id="filename" for="profile">Weight:</label>
        </div>

        <div id="editorInfolabel2">
            <img id="profilepicture1" alt="place-holder-photo" src="~/css/Assets/Portrait_Placeholder.png" >
            <input id="profilepicture2" name="Profile" type="file" />
            <input id="profilepicture3" type="submit" value="Upload" />
        </div>

    <div id="linkstogether">
        <a id="profilelink1" href="https://truecoachbigrig.azurewebsites.net/Exercise">Workput Plan</a>
        <a id="profilelink2" href="#">Nutrition Plan</a>
    </div>

    <div id="kettlebelt2">
        <img id="kettleBelt" alt="kettle-bell" src="~/css/Assets/kettlebell.png">
    </div>
       
   </div>

</div>

<fieldset>
    
</fieldset>









