@model TrueCoach.Models.Workout

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}



@*<div class="text-center">
        <h1 class="display-4">Welcome @Model. </h1>
        <div class="form-group">
            <form asp-action="ViewWorkout">
                <label asp-for="WorkoutGoals" class="control-label"></label>
                <select asp-for="WorkoutGoals" class="form-control" asp-items="@Html.GetEnumSelectList<TrueCoach.Models.Goals>()"></select>
                <span asp-validation-for="WorkoutGoals" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="ViewWorkout" class="btn btn-primary" />
                </div>
            </form>
        </div>


    </div>*@

@*@using (Html.BeginForm("ViewWorkout", "Workout", FormMethod.Post))
    {
        <h2>Select Your Main Movement Focus:</h2>
        <p>
            <select asp-for="WorkoutGoals" class="form-control" asp-items="@Html.GetEnumSelectList<TrueCoach.Models.Goals>()"></select>
            <input type="submit" value="Enter" />
        </p>
    }*@

<fieldset>
    <legend>Profile Picture</legend>
    <div class="editor-label">
        <label for="profile">FileName:</label>
    </div>
    <div class="editor-field">
        <input name="Profile" id="profile" type="file" />
    </div>
    <p>
        <input type="submit" value="Upload" />
    </p>
</fieldset>
<img alt="place-holder-photo" src="~/css/Assets/Portrait_Placeholder.png" width="150" height="150">



<li id="workout-link"> <a href="https://truecoachbigrig.azurewebsites.net/Exercise">Workput Plan</a></li>
<li id="nutrition-link"> <a href="#">Nutrition Plan</a></li>



<img alt="kettle-bell" src="~/css/Assets/kettlebell.png" width="200" height="200">
