@model TrueCoach.Models.Workout
@using TrueCoach.Models

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>


@*<div class="text-center">
        <h1 class="display-4">Welcome @Model. </h1>
        <div class="form-group">
            <form asp-action="ViewWorkout">
                <label asp-for="WorkoutGoals" class="control-label"></label>
                <select asp-for="WorkoutGoals" class="form-control" asp-items="@Html.GetEnumSelectList<TrueCoach.Models.Goals>()"></select>
                <span asp-validation-for="WorkoutGoals" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="ViewWorkout" class="btn btn-primary" />
                </div>
            </form>
        </div>


    </div>*@

@using (Html.BeginForm("ViewWorkout", "Workout", FormMethod.Post))
{
<p>
    <select asp-for="WorkoutGoals" class="form-control" asp-items="@Html.GetEnumSelectList<TrueCoach.Models.Goals>()"></select>
    <input type="submit" value="Enter" />
</p>
}

